@import '../../_defaults.scss';

.project-thumbnail-container {
    margin-right: 32px;
    margin-left: 14%;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: $tablet) {
        & {
            margin-left: 64px;
        }
    }

    @media screen and (max-width: $landscape) {
        & {
            margin: 0 32px;
        }
    }

    @media screen and (max-width: $phone) {
        & {
            margin: 0 16px;
        }
    }
}
