# Dependancies
/node_modules

# Misc
.DS_STORE
.vscode
.env.local
.env.development.local
.env.test.local
.env.production.local

# Production files to exclude
*.css
/frontend/public/*.js
/frontend/public/*.js.map

# Security
*.env