@import '../../../defaults.scss';

.project-meta-container {
    width: 100%;
    display: flex;
    padding-top: 6px;

    .project-meta-col {
        margin-right: 32px;
        width: 50%;

        &:last-child {
            padding-right: 32px;
        }

        .project-meta-entry {
            margin-bottom: 32px;

            .project-meta-label {
                position: relative;
                margin-bottom: 8px;
                font-size: 16px;
                line-height: 100%;
                font-weight: 600;
                letter-spacing: 1px;
            }

            .project-meta-value {
                font-size: 16px;

                &.tag {
                    display: inline-block;
                }
            }

            &:last-child {
                margin-bottom: 16px;
            }
        }
    }
}
