@import '../../defaults.scss';

.single-blog-post {
    width: 55%;
    text-align: left;
    margin: 64px auto;

    .blog-post-title {
        letter-spacing: 0.8px;
        font-size: 42px;
        margin-bottom: 18px;
        color: $black;
        line-height: 100%;
    }

    .blog-post-meta {
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.25px;
        display: flex;
        color: $black;
        margin-bottom: 32px;

        .vline {
            height: 18px;
            top: 4px;
            margin: 0 16px;
        }
    }

    .blog-post-img {
        position: absolute;
        display: block;
        width: 100%;
        height: 700px;
        left: 0;
        background: lightgray;
        margin-bottom: 24px;
        background-position: center;
        background-size: cover;
    }

    .blog-post-long-body {
        position: relative;
        top: 732px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 600;
            margin: 16px 0;
            margin-top: 32px;
            letter-spacing: 1px;
            color: $black;

            &:first-of-type {
                margin-top: 24px;
            }
        }

        h1 {
            font-size: 42px;
        }
        h2 {
            font-size: 38px;
        }

        p {
            &,
            * {
                margin: 16px 0;
                letter-spacing: 0.35px;
                line-height: 160%;
                font-size: 20px;
                font-family: $body;
                font-weight: 400;
            }

            a {
                display: inline;
                color: $highlight;
                border-bottom: 1.5px solid $highlight;
                text-decoration: none;

                &:focus,
                &:hover {
                    background: $highlight;
                    color: white;
                }
            }

            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }

        strong {
            font-weight: 600;
        }
    }
}
