@import '../../defaults.scss';

.meta-container {
    width: 33.33%;

    .project-meta-entry {
        display: inline-block;

        .project-meta-value {
            font-size: 36px;
        }
    }
}
