@import '../../_defaults.scss';

#item-container {
    width: 75%;
    padding-right: 100px;
    padding-bottom: 50px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
