@import '../../_defaults.scss';

#item-container {
  width: 75%;
  padding-right: 100px;
  padding-bottom: 50px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .item {
    width: 33.2%;
    height: 14vw;
    margin-top: 3px;
    background: grey;
    position: relative;
    overflow: hidden;

    * {
      margin: 0;
      padding: 0;
    }

    .item-link {
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      color: $black;
      text-decoration: none;
    }

    .item-meta {
      position: relative;
      top: 70%;
      height: 100%;
      opacity: 0;
      transition: all 0.15s ease-in;
      padding: 6px 18px;
      padding-top: 8px;
      color: white;
      background: rgb(0, 0, 0);
      background: linear-gradient(0deg, rgba(0, 0, 0, 1) 35%, rgba(0, 0, 0, 0) 100%);

      .item-name {
        font-size: 22px;
        font-weight: 600;
      }
    }
  }

  .item:hover {
    .item-meta {
      opacity: 1;
    }
  }
}
