@import '../../_defaults.scss';

#resume-container {
    font-size: 18px;
    color: $black;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;

    .resume-link-container {
        margin-top: 16px;
        font-size: 16px;
    }

    .resume-section {
        .resume-header {
            font-weight: 700;
            margin: 16px 0;
            margin-top: 48px;
            margin-bottom: 8px;
            letter-spacing: 0.5px;
            color: $highlight;
            font-size: 24px;
        }

        .resume-subhead {
            font-size: 18px;
            margin-top: 16px;
            font-weight: 600;

            &:first-child {
                margin-top: 0;
            }
        }
        .resume-body {
            line-height: 30px;

            p {
                letter-spacing: 0.2px;
                font-size: 17px;
                font-family: $body;
                font-weight: 400;
            }

            .resume-col {
                width: 100%;
                margin-right: 16px;

                &:last-child {
                    margin-right: 0;
                }
            }

            .resume-list {
                padding-left: 18px;

                li {
                    font-family: $body;
                    font-size: 17px;

                    .aside {
                        display: block;
                        margin-left: 24px;
                        font-style: italic;
                        font-family: $body;
                    }
                }
            }
        }
    }
}
