@import '../../_defaults.scss';

#resume-container {
    font-size: 18px;
    color: $black;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;

    .resume-section {
        p {
            letter-spacing: 0.2px;
            line-height: 155%;
            font-size: 20px;
            font-family: $body;
            font-weight: 400;
        }
        .resume-header {
            font-weight: 700;
            margin: 16px 0;
            margin-top: 48px;
            margin-bottom: 8px;
            letter-spacing: 0.5px;
            color: $highlight;
            font-size: 24px;

            &:first-of-type {
                margin-top: 24px;
            }
        }

        .resume-subhead {
            font-size: 18px;
            margin-top: 16px;
            font-weight: 600;

            &:first-child {
                margin-top: 0;
            }
        }
        .resume-body {
            p {
                font-size: 17px;
                line-height: 120%;
            }

            .resume-list {
                padding-left: 18px;

                li {
                    font-family: $body;
                    font-size: 17px;

                    .aside {
                        display: block;
                        margin-left: 24px;
                        font-style: italic;
                        font-family: $body;
                    }
                }
            }
        }
    }
}
