@import '../../defaults.scss';

.single-blog-post {
    text-align: left;
    margin: 64px 0;

    .container {
        width: 55%;
        margin: 0 auto;
    }
    .blog-post-title {
        letter-spacing: 0.8px;
        font-size: 42px;
        margin-bottom: 18px;
        color: $black;
        line-height: 100%;
    }

    .blog-post-meta {
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.25px;
        display: flex;
        color: $black;
        margin-bottom: 32px;

        .vline {
            height: 18px;
            top: 4px;
            margin: 0 16px;
        }
    }

    .blog-post-img {
        position: relative;
        display: block;
        width: 100%;
        height: 47vw;
        max-width: 1300px;
        max-height: 650px;
        background: lightgray;
        margin: 0 auto;
        margin-bottom: 24px;
        background-position: center;
        background-size: cover;
    }

    .blog-post-long-body {
        position: relative;
        padding-top: 1px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 600;
            margin: 16px 0;
            margin-top: 32px;
            letter-spacing: 1px;
            color: $black;

            &:first-of-type {
                margin-top: 24px;
            }
        }

        h1 {
            font-size: 42px;
        }
        h2 {
            font-size: 38px;
        }

        p,
        ol,
        ul {
            &,
            * {
                margin: 16px 0;
                letter-spacing: 0.35px;
                line-height: 155%;
                font-size: 20px;
                font-family: $body;
                font-weight: 400;
            }

            a {
                color: $darkHighlight;
                background: rgb(223, 236, 252);
                text-decoration: none;
                padding: 0 2px;
                margin: 0 1px;
                transition: all 100ms;

                &:focus,
                &:hover {
                    background: rgb(203, 226, 255);
                    border-bottom: 2px solid $darkHighlight;
                }
            }

            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }

        blockquote,
        ul,
        ol {
            margin: 32px 64px;
            margin-right: 84px;
            padding-left: 24px;
            color: transparentize($color: $darkHighlight, $amount: 0.2);
            border-left: 4px solid transparentize($color: $darkHighlight, $amount: 0.55);

            p {
                line-height: 135%;
            }
        }

        ul,
        ol {
            border: none;
            color: $black;

            li {
                line-height: 100%;
                margin: 0;
                padding: 0;
            }
        }

        strong {
            font-weight: 600;
        }
    }
}

@media screen and (max-width: 1300px) {
    .single-blog-post {
        .container {
            width: 75%;
        }
    }
}

@media screen and (max-width: 832px) {
    .single-blog-post {
        margin: 0;

        .blog-post-title {
            font-size: 40px;
        }

        .blog-post-img {
            margin: 0;
        }

        .container {
            width: 100%;
            padding: 18px;
        }

        .blog-post-long-body {
            blockquote {
                margin: 24px 12px;
            }
        }
    }
}
