@import '../../defaults.scss';

.blog-post {
    width: 33.33%;
    padding: 16px;
    position: relative;
    margin-bottom: 16px;

    .blog-post-img {
        width: 100%;
        height: 225px;
        background: lightgray;
        margin-bottom: 10px;
        background-position: center;
        background-size: cover;
    }

    .blog-post-text {
        padding: 0 8px;

        .blog-post-name {
            margin: 10px 0;
            display: inline;
            color: $black;
            padding: 0px 4px;
            padding-left: 0;
            padding-right: 0;
            -webkit-box-decoration-break: clone;
            -ms-box-decoration-break: clone;
            -o-box-decoration-break: clone;
            box-decoration-break: clone;
        }

        .blog-post-meta {
            font-weight: 500;
            letter-spacing: 0.25px;
            display: flex;
            color: $black;
            margin-top: 4px;
        }

        .blog-post-short-body {
            margin-top: 8px;

            &,
            * {
                font-family: $body;
                letter-spacing: 0.5px;
                line-height: 130%;
                font-size: 16px;
            }
        }
    }

    a.wrapper-link:hover,
    a.wrapper-link:hover ~ .blog-post-text {
        .blog-post-name {
            background: $highlight;
            color: white;
            box-shadow: 5px 0 0 $highlight, -5px 0 0 $highlight;
        }
        .blog-post-meta {
            text-decoration: underline !important;
        }
    }
}
