@import '../../_defaults.scss';

table {
    text-align: left;
    width: 100%;

    tr {
        background: white;
        height: 36px;

        th {
            font-weight: bolder;
        }

        th,
        td {
            padding: 8px;
            color: $black !important;
        }

        td.action-col {
            width: auto;
            display: flex;
            justify-content: space-around;

            .button-container {
                flex-grow: 1;
                width: 36px;
                height: 36px;
                margin-right: 8px;
            }

            .button-container:last-child {
                margin-right: 0;
            }

            .file-input {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
            }
        }
    }

    tr:nth-child(2n) {
        background: rgba(255, 255, 255, 0.9);
    }

    tbody tr:hover {
        background: rgba(255, 255, 255, 0.85);
    }

    thead tr th {
        color: white !important;
        background: $black;
    }
}
