@import '../../../_defaults.scss';

.checkbox-label {
    position: relative;
    height: 24px;
    display: inline-block;
    width: 100%;
    padding-left: 26px;
    margin-bottom: 5px;
    letter-spacing: -0.5px;
    cursor: pointer;
    z-index: 1;

    .checkbox-label-text {
        position: relative;
        top: 0px;
        left: 2px;
        letter-spacing: 0.5px;
    }

    .checkbox-label-text::selection {
        background: none;
    }

    .checkbox-label-text::-moz-selection {
        background: none;
    }

    .checkbox-input {
        display: none;
    }

    .checkbox-box {
        position: absolute;
        top: 3.5px;
        left: 0;
        height: 17px;
        width: 17px;
        background: $black;
        border-radius: 2px;
    }

    .checkbox-box:after {
        display: block;
        content: '';
        position: relative;
        top: 4px;
        left: 4px;
        width: 9px;
        height: 9px;
        background: white;
        opacity: 0;
        border-radius: 1px;
        z-index: 10;
        transition: opacity 100ms $quarticOut;
    }

    .checkbox-input:checked ~ .checkbox-box:after {
        opacity: 1;
    }

    &:hover,
    &:focus {
        color: $grey;

        .checkbox-box {
            background: $grey;
        }
    }

    &.active {
        font-weight: 600;
        text-shadow: $textShadow;

        .checkbox-box {
            box-shadow: $textShadow;
        }
    }
}
