@import '../../defaults.scss';

.input-container {
    flex-grow: 1;
    margin-bottom: 16px;

    .input-label {
        display: block;
        margin-top: 16px;
        margin-bottom: 6px;
        font-size: 16px;
    }

    .input-label:first-child {
        margin-top: 0;
    }

    .input-text {
        width: 100%;
        display: block;
        font-size: 16px;
        padding: 6px 8px;
        border: 1px solid rgb(216, 216, 216);
        font-family: $body;
        background-clip: padding-box;
        background-color: white;
        box-shadow: $textShadowNoColor rgba(0, 0, 0, 0.05);
        transition: border-color 150ms $quarticOut;

        &:focus {
            border-color: $highlight !important;
            box-shadow: $textShadowNoColor rgba($color: $darkHighlight, $alpha: 0.15);
        }
    }

    textarea.input-text {
        resize: none;
        height: 250px;
    }

    &:first-child {
        margin-right: 16px;

        @media screen and (max-width: $phone) {
            margin-right: 0;
        }
    }
}
