@import '../../_defaults.scss';

footer {
    padding: 18px;
    padding-top: 64px;
    color: $black;
    text-align: center;

    ul {
        list-style: none;

        li {
            display: inline-block;
            padding-right: 16px;

            a {
                color: $black;
            }

            a:hover {
                color: $highlight;
            }
        }

        li:last-child {
            padding-right: 0;
        }
    }

    @media screen and (max-width: $phone) {
        & {
            width: 100%;
            text-align: left;
            padding-top: 16px;

            ul {
                li {
                    display: block;
                    line-height: 200%;
                }
            }
        }
    }
}
