@import '../../defaults.scss';

.button {
    display: inline-block;
    padding: 8px 10px;
    background-color: $highlight;
    color: white;
    cursor: pointer;
    user-select: none;
    box-shadow: $textShadow;

    &:hover,
    &:focus {
        background: $darkHighlight;
    }

    &.disabled {
        cursor: not-allowed;
        background: darkgray;
    }
}
