@import '../../defaults.scss';

.project-page-container {
    width: 100%;
    margin: 0 48px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    .project-title {
        width: 100%;
        letter-spacing: 0.8px;
        font-size: 42px;
        margin-bottom: 16px;
        color: $black;
        line-height: 100%;
    }

    .project-img-container {
        width: 60%;
        min-height: 650px;
        position: relative;
        display: inline-block;
        background: lightgray;
        background-position: center;
        background-size: cover;

        .project-img {
            width: 100%;
            display: block;
        }
    }

    .project-container {
        width: 40%;
        padding-left: 48px;

        a {
            display: inline-block;
            color: $darkHighlight;
            background: rgb(223, 236, 252);
            text-decoration: none;
            padding: 0 2px;
            margin: 2px 1px;
            border-bottom: 2px solid transparent;
            transition: all 100ms;

            &:focus,
            &:hover {
                background: rgb(203, 226, 255);
                border-bottom-color: $darkHighlight;
            }
        }

        .project-body-container {
            .project-body * {
                font-size: 16px;
            }
        }
    }

    @media screen and (max-width: $tablet) {
        & {
            margin: 0 32px;

            .project-title {
                font-size: 32px;
            }
        }
    }

    @media screen and (max-width: $landscape) {
        & {
            margin: 0 16px;

            .project-img-container {
                width: 100%;
                margin-bottom: 16px;
                min-height: 200px;
            }
            .project-container {
                width: 100%;
                padding-left: 16px;

                .project-title {
                    font-size: 32px;
                }

                .project-meta-container {
                    width: 100%;
                }

                .project-body-container {
                    width: 100%;
                }
            }
        }
    }
}
