@import '../../defaults.scss';

.project-page-container {
    width: 90%;
    margin: 0 5%;
    margin-top: 16px;

    .project-img {
        position: relative;
        display: block;
        width: 100%;
        flex-grow: 1;
        height: 47vw;
        max-width: 1300px;
        max-height: 650px;
        background: lightgray;
        margin: 0 auto;
        margin-bottom: 24px;
        background-position: center;
        background-size: cover;
    }

    .project-container {
        display: flex;
        flex-flow: wrap;

        a {
            display: inline-block;
            color: $darkHighlight;
            background: rgb(223, 236, 252);
            text-decoration: none;
            padding: 0 2px;
            margin: 2px 1px;
            border-bottom: 2px solid transparent;
            transition: all 100ms;

            &:focus,
            &:hover {
                background: rgb(203, 226, 255);
                border-bottom-color: $darkHighlight;
            }
        }

        .project-body-container {
            width: 66.66%;
            padding-left: 32px;

            .project-title {
                letter-spacing: 0.8px;
                font-size: 42px;
                margin-bottom: 18px;
                color: $black;
                line-height: 100%;
            }
        }
    }
}
