@import '../../defaults.scss';

.project-page-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-right: 16px;

    .project-img-container {
        position: relative;
        flex-shrink: 1;

        .project-img {
            width: 100%;
            display: block;
        }
    }

    .project-info-container {
        padding: 48px;
        padding-top: 16px;
        background: white;
        flex-shrink: 2;
        min-width: 460px;
        max-width: 575px;

        .project-title {
            width: 100%;
            letter-spacing: 0.8px;
            font-size: 42px;
            margin-bottom: 16px;
            color: $black;
            line-height: 100%;
        }

        a {
            display: inline-block;
            color: $darkHighlight;
            background: rgb(223, 236, 252);
            text-decoration: none;
            padding: 0 2px;
            margin: 2px 1px;
            border-bottom: 2px solid transparent;
            transition: all 100ms;

            &:focus,
            &:hover {
                background: rgb(203, 226, 255);
                border-bottom-color: $darkHighlight;
            }
        }

        .project-body-container {
            .project-body * {
                font-size: 15px;
            }
        }
    }

    @media screen and (max-width: $laptop) {
        & {
            .project-info-container {
                min-width: 420px;

                .project-title {
                    font-size: 36px;
                }
            }
        }
    }

    @media screen and (max-width: $tablet) {
        & {
            .project-info-container {
                padding: 32px;
                padding-top: 16px;

                .project-title {
                    font-size: 32px;
                }
            }
        }
    }

    @media screen and (max-width: $landscape) {
        & {
            flex-wrap: wrap;
            padding: 0;

            .project-img-container {
                width: 100%;
                min-height: 200px;
            }
            .project-info-container {
                max-width: none;
                min-width: 0;
                padding: 16px;

                .project-title {
                    font-size: 32px;
                }

                .project-meta-container {
                    width: 100%;
                }

                .project-body-container {
                    width: 100%;
                }
            }
        }
    }
}
