// This file contains variables and mixins for use throughout the application

/* * * COLORS * * */
$highlight: rgb(36, 132, 198);
$darkHighlight: rgb(11, 66, 104);
$black: rgb(50, 50, 50);

/* * * FONTS * * */
$font: futura-pt, 'Futura', 'Europa', sans-serif;
$body: lato, 'Lato', 'Roboto', sans-serif;

/* * * TransitionS * * */
$quarticOut: cubic-bezier(0.165, 0.84, 0.44, 1);

/* 300, 400, 500, 600 */
