// This file contains variables and mixins for use throughout the application

/* * * COLORS * * */
$highlight: #ff8f40;
$darkHighlight: #eb4f33;
$black: #2a2a2a;

/* * * FONTS * * */
$body: 'Muli', 'Roboto', sans-serif;
