@import '../../_defaults.scss';

#header {
    text-align: center;
    width: 100%;
    margin: 0 auto;

    #header-link {
        color: $black;
        text-decoration: none;
        display: inline-block;

        #full-name {
            font-size: 56px;
            letter-spacing: 3px;
            font-weight: 600;
            margin: 0;
            margin-top: 30px;
            text-shadow: $textShadow;
        }
        #subhead {
            font-size: 28px;
            font-weight: 300;
            color: $highlight;
            margin-bottom: 30px;
            letter-spacing: 0.5px;
        }
    }

    nav {
        width: 46%;
        display: inline-block;

        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            margin-bottom: 30px;

            li {
                display: inline-block;
                width: 25%;
                text-align: center;
                font-weight: 400;
                letter-spacing: 1px;

                a {
                    display: inline-block;
                    text-decoration: none;
                    color: black;
                    padding: 4px 8px;
                    text-shadow: $textShadow;
                    transition: all 100ms $quarticOut;

                    &:hover {
                        background: $highlight;
                        color: white;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $landscape) {
    #header {
        padding: 0 16px;
        #header-link {
            #full-name {
                font-size: 52px;
                line-height: 100%;
            }
            #subhead {
                font-size: 26px;
            }
        }

        nav {
            width: 100%;

            ul {
                margin-bottom: 16px;
            }
        }
    }
}

@media screen and (max-width: $phone) {
    #header {
        text-align: left;

        #header-link {
            #full-name {
                margin-top: 16px;
            }

            #subhead {
                margin-bottom: 16px;
            }
        }

        nav {
            width: 100%;

            ul {
                flex-wrap: wrap;
                margin-bottom: 16px;

                li {
                    a {
                        font-size: 14px;
                        padding: 8px 0;
                        width: 100%;
                    }
                }
            }
        }
    }
}
