@import '../../_defaults.scss';

#edit-body-container {
    padding-top: 16px;

    #controls {
        .button-container {
            display: inline-block;
            margin-top: 8px;

            .button {
                font-size: 18px;
                padding: 8px 10px;
            }
        }
    }
}
