#filter {
    width: 14%;
    padding-top: 200px;
    padding-left: 32px;
    position: fixed;
    height: 100%;
    top: 0;
    z-index: 10;

    .filter-group {
        padding: 16px 0;
        list-style: none;

        .filter-label {
            font-size: 12px;
            font-weight: 400;
            color: #9e9e9e;
            letter-spacing: 2px;
            margin-bottom: 6px;
        }
        .filter-checkbox {
            font-size: 18px;
        }
    }

    @media screen and (max-width: 1200px) {
        & {
            display: none;
        }
    }
}
